
<% content_for :header_tags do %>
<%= stylesheet_link_tag 'redmine_info.css', :plugin => 'redmine_information' %>
<% end %>

<h2 <%= is_admin_only?(@icat) ? "class='icon icon-lock'" : "" %></h2>
<%= h InfoCategory.label(@icat)  %>
</h2>


<% if is_shown?(@icat)
     page = 'info/' + @icat.to_s %>
<%=  render(:partial => page) %>
<% else %>

<div class="nodata">
  <%= h l(:text_no_public) %>
</div>

<% end %>

<% content_for :sidebar do %>
  <h3><%=l(:label_info_categories)%></h3>
  <div id="admin-menu">
    <ul>
      <%= render_menu :redmine_info_menu %>
    </ul>
  </div>

  <% if User.current.admin? %>
    <h3><%=l(:label_administration)%></h3>
    <%= render :partial => 'admin/menu' %>
  <% end %>
<% end %>

<%
unless (@icat == :version)
  html_title(InfoCategory.label(@icat)) 
end
%>
<% html_title(l(:label_redmine_info)) %>
